<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description"> A Informática é uma área de Investigação e
Desenvolvimento consolidada em Portugal, suportada numa rede de
centros de investigação reconhecidos internacionalmente e na oferta de
cursos de licenciatura e pós-graduação por praticamente todas as
instituições portuguesas de ensino superior. É igualmente uma área na
qual várias empresas nacionais apresentam resultados de I&D de
relevância internacional. </p>

<p> Reunindo a comunidade nacional, o INForum é um local privilegiado
para a divulgação, discussão e reconhecimento de trabalhos científicos
e inovação e avanços tecnológicos em Informática. O INForum oferece
assim um palco especializado e único a nível nacional para promover,
por um lado, o intercâmbio de conhecimento e experiência entre a
academia e a indústria e, por outro lado, a estreia de jovens
investigadores que procuram a divulgação, a crítica construtiva e o
encorajamento do seu trabalho. Assim, o INForum é um evento nacional
de partilha e de fortalecimento do espírito de comunidade na área de
Informática. </p>

<p> A edição de 2026, o 17º INForum, decorrerá na Faculdade de
Ciências e Tecnologia da Universidade Nova de Lisboa. Contamos com a
presença de todos! </p>
